<!DOCTYPE html>
<html lang="en">
<head>
    <style>.sty1 {display:inline-block}</style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>After School Club</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet"
    href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <button @click='showCheckout'>
                {{cartItemCount}}
                <span class="fas fa-shopping-basket"></span> Checkout
            </button>
        </header>
        <main>
            <div v-if='showProduct'>
                <img height="120px" width="120px"
                v-bind:src="product.image">
        </img>
    <div class="sty1">  <h2 v-text="product.title"></h2>
            <p v-text="product.location"></p>
            <p>Spaces: {{product.spaces}}</p>
            <p>Price: £{{product.price}}</p>
            <button @click='addToCart'
            v-bind:disabled='!canAdd'>
            <span class="fas fa-calculator"></span>
                Add to basket
            </button>

    </div>
    </div>

    <div v-else>
        <h2>Checkout</h2>
       <p>
           <strong>First Name:</strong>
           <input v-model="order.firstName"/>
       </p> 
       <p>
           <strong>Last Name:</strong>
           <input v-model="order.lastName"/>
       </p>
       <p>
        <strong>Phone Number:</strong>
        <input v-model="order.number"/>
       </p>


       <h2>Purchase Information</h2>
       <p>First Name: {{order.firstName}}</p>
       <p>Last Name: {{order.lastName}}</p>
       <p>Phone Number: {{order.number}}</p>
       <button @click="purchase">Complete Purchase</button>

    </div>
        </main>
    </div>

    <script>
    let clubstore = new Vue({
        el: '#app' ,
        data: {
            showProduct: true,
            sitename: 'After School Club',
            product: {
                id: 100,
                title: "Math",
                location: "London",
                price: 100,
                image: "mathimg.png",
                spaces: 5
            },
            order: {
                firstName: '',
                lastName: '',
                number:'',         
            },

            cart: [],
        },
            computed: {
                cartItemCount: function() {
                    return this.cart.length || '';
                },
                canAdd: function() {
                    return this.product.spaces > this.cartItemCount;
                }

            }
        ,
        methods: {
            addToCart() {
                this.cart.push( this.product.id );
            },

            showCheckout() {
                this.showProduct = this.showProduct ? false : true;

            },

            purchase() {
                alert('Purchase Submitted!')
            }
        }

    });
    </script>
    
</body>
</html>