<!DOCTYPE html>
<html lang="en">
<head>
    <style>.sty1 {display:inline-block}</style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>After School Club</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet"
    href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="lessons.js"></script>
</head>

<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <button @click='showCheckout'>
                {{cartItemCount}}
                <span class="fas fa-shopping-basket"></span> Checkout
            </button>
        </header>
        <main>
            <div v-if='showProduct'>
                <div v-for="lesson in lessons">
                <img height="120px" width="120px"
                v-bind:src="lesson.image">
        </img>
    <div class="sty1">  <h2 v-text="lesson.title"></h2>
            <p v-text="lesson.location"></p>
            <p>Spaces: {{lesson.spaces}}</p>
            <p>Price: £{{lesson.price}}</p>
            <button @click='addToCart(lesson)'
            :disabled='!canAdd(lesson)' >
                Add to basket
            </button>
            <span v-if="lesson.spaces === cartCount(lesson.id) "> No space left. </span>
            <span v-else-if="lesson.spaces - cartCount(lesson.id) < 3"> Only {{lesson.spaces - cartCount(lesson.id)}} spaces left!</span>
            <span v-else> Book now!</span>

    </div></div>
    </div>

    <div v-else>
        <h2>Checkout</h2>
       <p>
           <strong>First Name:</strong>
           <input v-model="order.firstName"/>
       </p> 
       <p>
           <strong>Last Name:</strong>
           <input v-model="order.lastName"/>
       </p>
       <p>
        <strong>Phone Number:</strong>
        <input v-model="order.number"/>
       </p>
       <p>
           <strong>Country:</strong>
           <select v-model="order.country">
            <option disabled value="">Country</option>
            <option v-for="(country, key) in countries"
            v-bind:value="country">
         {{key}}</option>
        </select>
       </p>
       


       <h2>Purchase Information</h2>
       <p>First Name: {{order.firstName}}</p>
       <p>Last Name: {{order.lastName}}</p>
       <p>Phone Number: {{order.number}}</p>
       <p>Country: {{order.country}}</p>
       <button @click="purchase">Complete Purchase</button>

    </div>
        </main>
    </div>

    <script>
    let clubstore = new Vue({
        el: '#app' ,
        data: {
            showProduct: true,
            sitename: 'After School Club',
            lesson: {
                id: 100,
                title: "Math",
                location: "London",
                price: 100,
                image: "mathimg.png",
                spaces: 5
            },
            lessons: lessons,
            order: {
                firstName: '',
                lastName: '',
                number:'',  
                state:'',      
            },
            countries: {
                ENG: 'England',
                WAL: 'Wales',
                SCT: 'Scotland',
                NIR: 'Northern Ireland'
            },

            cart: [],

        },
            computed: {
                cartItemCount: function() {
                    return this.cart.length || '';
                },

            }
        ,
        methods: {
            addToCart(lesson) {
                if ('canAdd(lesson'){
                this.cart.push(lesson.id )}
            },

            showCheckout() {
                if (this.cart.length > 0){
                this.showProduct = this.showProduct ? false : true;}

            },

            cartCount(id) {
                let count = 0;
                for(let i = 0; i < this.cart.length; i++) {
                    if (this.cart[i] === id) {
                        count++;
                    }
                }
                return count;

            },

            canAdd(lesson) {
                    return lesson.spaces > this.cartCount(lesson.id);
                },

            purchase() {
                alert('Purchase Submitted!')
            }
        }

    });
    </script>
    
</body>
</html>